
<ion-content [fullscreen]="true">
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="registro">
        <ion-icon name="clipboard-outline"></ion-icon>
        Registro
      </ion-tab-button>
      <ion-tab-button tab="visualizacion">
        <ion-icon name="library"></ion-icon>
        Visualización
      </ion-tab-button>
      <ion-tab-button (click)="LogOut()">
        <ion-icon name="log-out-outline"></ion-icon>
        LogOut
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>




